@import "../../../index";
@import "~antd/lib/style/themes/default.less";
.warp {
  position: absolute;
  top: 60px;
  right: 8px;
  width: 240px;
  z-index: 12;
  border: @border-width-base @border-style-base @border-color;
  font-size: @public-font-m;
  color: @white;
  background: @homepage-panel-background;
  & .row {
    padding: 8px;
  }
  & span {
    margin-left: 16px;
  }
  & h3 {
    text-align: center;
    color: @white;
  }
}

.scrollbarsStyle {
  &>div:last-child>div:last-child {
      background-color: @scrollbars-bg  !important;
  }
}
