.footer {
  margin-top: 24px;
  text-align: center;
}
.warp {
  //position: relative;
  margin-top: 24px;
  & .content {
    position: relative;
  }
  & .title {
    position: absolute;
    top: 0;
    left: 0;
  }
  & .title0 {
    position: absolute;
    top: 60px;
    left: 10px;
  }
  & .title1 {
    position: absolute;
    top: 60px;
    left: 10px;
  }
}
