@import "~antd/lib/style/themes/default.less";
@import "../../../../index.less";
.extra {
  margin-top: -8px;
  :global {
    .ant-card-extra {
      width: 600px;
      height: @place-ant-card-extra-height;
      margin-top: -4px;
    }
    .ant-card-head {
      height: @place-ant-card-extra-height;
    }
  }
}