@import "~antd/lib/style/themes/default.less";
@import "../../../../../index.less";
.planInfo{
  :global{
    // & .ant-tabs-nav-scroll{
    //   margin-top: 0 !important;
    // }
    & .ant-tabs-content {
      padding-left: 24px !important;
      // border-left: 1px solid #e8e8e8 !important;
      border-left: @public-border-size solid @tabs-border-color-right !important;
    }
    & .ant-tabs-nav-container{
      margin-right: 0 !important;
    }
    & .ant-table-tbody tr td{
      max-width: 0;
      text-overflow: ellipsis;
      word-wrap: break-word;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
    }
    & .ant-table-tbody tr td:hover{
      white-space: normal;
    }
    .ant-tabs-nav-scroll {
      margin-top: @public-range  !important;
  }
  .ant-tabs-nav-wrap {
      margin: 0 !important;
  }
  .ant-tabs-tab {
      margin: 0 !important;
      background: initial !important;
  }
  .ant-tabs-ink-bar {
      background-color: @public-color-hover;
  }
  .ant-tabs-tab-active {
      color: @public-color-hover  !important;
  }
  }
}
.cardExtra{
  :global{
    & .ant-card-extra{
      width: 40% !important;
      margin-top: 0 !important;
    }
    & .ant-card-head-title{
      color: #666 !important;
      font-weight: normal !important;
    }
    & .ant-card-body{
      padding: 0 !important;
    }
  }
}
.picture{
  max-width: 100%;
  max-height: 100%;
}
.emgcResource {
  :global {
    .ant-card-head-title {
      padding: 0;
    }
  }
  & .emgcResourceTitle {
    width: 100%;
    :global {
      .ant-row {
        height: 50px;
        line-height: 50px;
      }
      .ant-form-item {
        margin: 6px 0 0 0;
      }
    }
  }
}