<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ant Design Pro</title>
  <link rel="stylesheet" href="/mapApi/esri/css/main.css">
  <link rel="stylesheet" href="css/zTreeStyle.css">
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <style>
  </style>
  <script src="js/g6Editor.js"></script>
  <!--<script src="js/polyline"></script>-->
  <script src="js/editorEngine.js"></script>
  <script src="js/jsencrypt.js"></script>
</head>

<body>
  <div id="root"></div>
</body>
</html>
