@import "~antd/lib/style/themes/default.less";
@import "../../../../index.less";
@margin-top: -4px;
.footer{
  margin-bottom: 100px;
  text-align: center;
  :global{
    .ant-btn-primary{
      margin: 0 8px;
    }
  }
}

.commandList{
  :global{
    .ant-card-head{
      height: @place-ant-card-extra-height;
      // height: 50px;
    }
    .ant-card-extra{
      height: @place-ant-card-extra-height;
      // height: 50px;
    }
    .ant-table-tbody tr td{
      max-width: 0;
      text-overflow: ellipsis;
      word-wrap: break-word;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
    }
    .ant-table-tbody tr td:hover{
      white-space: normal;
    }
  }
  .tableStyle{
    padding: 0 @public-range @public-range @public-range;
  }
}
.insertBtnBox{
  height: @place-ant-card-extra-height;
}
.insertBtn{
  //margin-bottom: 50px;
  //margin-top: 16px;
  // margin-top: -8px;
  text-align: left;
  float: left;
  margin: @public-range 0 0 @public-range;
}
.extra{
  float: right;
  margin: @public-range @public-range 0 0;
}
.endColor {
  color: red;
}
